@import "mixins";
@import "reset";
@import "base";

html,body {
  background-color: #ffffff;
}
body{
  margin: auto;
  background-color: #ffffff;
  font-size: 14px;
}
body,h1, h2, h3, h4, h5, h6{
  font-family: $font-face;
}
[v-cloak] {
  display: none;
}
.tc{
  text-align: center;
}
.wrap{
  position: relative;
  width: $width;
  margin: 0 auto;
}