@import "mixins";
@import "reset";
@import "base";

html,body {
  background: #f4f4f4;
}
body{
  max-width: 750px;
  margin: auto;
  background-color: #ffffff;
}
body,h1, h2, h3, h4, h5, h6{
  font-family: $font-face;
}

[v-cloak] {
  display: none;
}

.tc{
  text-align: center;
}
.selector {
  width: 150px;
  height: 64px; /*px*/
  font-size: 28px; /*px*/
  border: 1px solid #ddd; /*no*/
}
.selector2{
  @include font-dpr(12)
}