.fullpage-wrap{
  .loading {
    .jump {
      display: block;
      width: 120px;
      height: 35px;
      line-height: 35px;
      background-color: #ffffff;
      border-radius: 10px;
      position: absolute;
      bottom: 5%;
      right: 20%;
      text-align: center;
      color: #000000;
      text-decoration: none;
    }
    .progress {
      display: block;
      width: 500px;
      height: 200px;
      position: absolute;
      left: 50%;
      top: 20%;
      margin-left: -250px;
      text-align: center;
      font-size: 30px;
      background-color: #ffffff;
    }
  }
  .test {
    display: block;
    width: 1080px;
    height: 440px;
    background: url('./images/1.jpg') no-repeat 50% 100%;
  }

  .section1{
    background-color: #007aff;
  }
  .section2{
    background-color: rebeccapurple;
  }
  .section3{
    background-color: rosybrown;
  }
  .section4{
    background-color: red;
  }
}
.menu {
  position: absolute;
  top: 0;
  left: 200px;
  z-index: 9;
  li{
    padding: 8px;
    background-color: #CCCCCC;
    &.active{
      background-color: #000000;
    }
    a{
      color: #ffffff;
    }
  }
}