<!DOCTYPE html>
<html>
<head>
    <%= require('html!../inc/heade-meta.ejs') %>
    <title>Fullpage case</title>
    <meta name="keywords" content="Fullpage case" />
    <meta name="description" content="Fullpage case" />
    <link rel="stylesheet" href="/lib/fullpage/jquery.fullpage.css">
</head>
<body>
<%= require('./fullpage.html')%>
<%= require('html!../inc/footer-script.ejs') %>
<script src="/lib/jquery.easing.min.js"></script>
<script src="/lib/fullpage/jquery.fullPage2.5.4.min.js"></script>
</body>
</html>

