<!DOCTYPE html>
<html>
<head>
    <%= require('html!../inc/heade-meta.ejs') %>
    <title>css3 动画dmeo</title>
    <meta name="keywords" content="css3 动画dmeo" />
    <meta name="description" content="css3 动画dmeo" />
</head>
<body>
<div id="app"></div>
<script src="/lib/jquery.2.1.4.min.js"></script>
</body>
</html>

