<!DOCTYPE html>
<html>
<head>
    <%= require('html!../inc/heade-meta.ejs') %>
    <title>css3 动画dmeo</title>
    <meta name="keywords" content="css3 动画dmeo" />
    <meta name="description" content="css3 动画dmeo" />
</head>
<body>
<div id="app"></div>
<%= require('html!../inc/footer-script.ejs') %>
</body>
</html>

