<!DOCTYPE html>
<html>
<head>
    <%= require('html!../inc/heade-meta.ejs') %>
    <title>Canvas case</title>
    <meta name="keywords" content="Fullpage case" />
    <meta name="description" content="Fullpage case" />
    <link rel="stylesheet" href="/lib/fullpage/jquery.fullpage.css">
</head>
<body>
<div class="wrap">
    <%= require('./canvas.html')%>
</div>
<%= require('html!../inc/footer-script.ejs')%>

<script src="/lib/canvas/canvid/canvid.js"></script>

</body>
</html>

