html,body{
  height: 100%;
  overflow: hidden;
}
body{
  margin: 0 auto;
}

.swiper-container{
  width: 100%;
  height: 100%;
  .my-content{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: left;
    &>.in-bg{
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
}
