<!DOCTYPE html>
<html>
<head>
    <%= require('html!../inc/heade-meta.ejs') %>
    <title>测试页面</title>
    <meta name="keywords" content="测试页面" />
    <meta name="description" content="测试页面" />
</head>
<body>
<div class="wrap">
    <%= require('./partial.html') %>
</div>
<%= require('html!../inc/footer-script.ejs') %>
</body>
</html>

